<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>CreativeTaskMain</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
</head>
<body>
    <div class="div">
    <label id="timer" class="timer">time</label>
    <label id="question" class="ts">Question</label>
    <br>
    <textarea  id="answer" class="center"></textarea>
    <br>
    <a id="button">Next</a>
    </div>
    <script src="../static/js/ajax.js"></script>
    <script src="../static/js/res.js"></script>
    <script src="../static/js/creative.js"></script>
</body>
</html>